---
title: Shop
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--page  content  typeset">

    <h1>Shop</h1>

    <div>
        <div style="display: flex; align-items: center; justify-content: center;">
            <input type="text" placeholder="Search">
            <button>
                <img style="width: 2vw; height: 2vw;" src="https://i.imgur.com/ZyRbOHK.png">
            </button>
            </div>
        <div style="display: flex;">
            <img style="width: 18vw; height: 12vw;" src="https://i.imgur.com/lWN90eH.jpg">
            <img style="width: 18vw; height: 12vw;" src="https://i.imgur.com/7N0Wni6.jpg">
            <img style="width: 18vw; height: 12vw;" src="https://i.imgur.com/WEcscrn.jpg">
        </div>
        <div style="display: flex;">
            <img style="width: 18vw; height: 12vw;" src="https://i.imgur.com/kbUMbDU.jpg">
            <img style="width: 18vw; height: 12vw;" src="https://i.imgur.com/0bZ9pbE.jpg">
            <img style="width: 18vw; height: 12vw;" src="https://i.imgur.com/wwm0Qys.jpg">
        </div>
    </div>

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>