<!-- Overwrite this file with code you want before the closing body tag -->

<hr />

<div style="display: flex;">
    <img style="height: 100px; width: 150px; margin-left: 100px; margin-right: 100px;" src="https://i.imgur.com/hAQ5sIO.png">
    <div style="margin-left: 100px; margin-right: 100px; font-size: small; line-height: 1;">
        <p>167 Nowhere Road</p>
        <p>Somewhere</p>
        <p>Somewhere Else</p>
        <p>6010</p>
    </div>
    <a href="#">
        <img style="height: 100px; width: 100px; margin-left: 100px; margin-right: 100px;" src="https://i.imgur.com/AfuQe1c.png">
    </a>
    <a href="#">
        <img style="height: 100px; width: 100px; margin-left: 100px; margin-right: 100px;" src="https://i.imgur.com/JAMaT8U.png">
    </a>
    <a href="#">
        <img style="height: 100px; width: 100px; margin-left: 100px; margin-right: 100px;" src="https://i.imgur.com/IlcbmfF.png">
    </a>
</div>